NOTEBOOK CRIADO PARA TESTAR A ROTINA LOCALMENTE

In [1]:
import mysql.connector
import pymysql
import datetime as dt
import pandas as pd
from sqlalchemy import create_engine
from faker import Faker

In [11]:
fake = Faker(locale='pt_BR')
volume = []

for _ in range(10):
    
      volume.append ({
          'prefix': fake.prefix_nonbinary(),
          'name': fake.name_nonbinary(),
          'suffix': fake.suffix_nonbinary(),
          'phone': fake.phone_number(),
          'email': fake.ascii_free_email(),
          'address': fake.address()
      })
    
df = pd.DataFrame(volume)

df

,prefix,name,suffix,phone,email,address
0,Dr.,Sra. Raquel Costela,,0900 679 6629,azevedosophie@yahoo.com.br,"Condomínio João Pedro da Paz, 52\nAraguaia\n70..."
1,Dr.,Enrico Rocha,,+55 (011) 1317-1650,dsilveira@ig.com.br,"Travessa Evelyn Oliveira, 56\nBeira Linha\n022..."
2,Srta.,Gabrielly Moreira,,(081) 0799 7561,hpeixoto@bol.com.br,"Sítio Samuel Costela, 79\nConjunto Califórnia ..."
3,Sra.,Dr. Breno Viana,,+55 51 1065 3617,rrodrigues@uol.com.br,"Passarela de Moreira, 2\nTupi A\n10238083 Fari..."
4,Dra.,Maria Fernanda Aragão,,(021) 7530 4238,da-conceicaoalicia@gmail.com,"Alameda de Silva, 60\nSavassi\n42218-818 Nogue..."
5,Sra.,Joana Ribeiro,,31 4747-0323,diogodias@yahoo.com.br,"Área de Barbosa, 520\nMarajó\n50544723 da Roch..."
6,Sra.,Daniela Lopes,,(031) 5418 0681,yporto@gmail.com,"Distrito Costa, 67\nMinaslandia\n66256195 Cost..."
7,Sra.,Ana Laura da Rocha,,(084) 9957-6181,isadoramoraes@uol.com.br,"Trevo Laís Ribeiro, 41\nVila Canto Do Sabiá\n4..."
8,Sr.,João Lucas da Cunha,,84 8137 1655,diego36@bol.com.br,"Morro Farias, 5\nVila Jardim Leblon\n23248272 ..."
9,Dr.,Davi Rocha,,+55 84 4011-5333,lmonteiro@bol.com.br,"Viela Lima, 63\nMala E Cuia\n34386900 Silveira..."

In [6]:
########################################### CONNECT MYSQL ############################

from sqlalchemy import create_engine

## Parameter
engine      = 'mysql'
conect      = 'pymysql'
user        = 'root'
password    = 'root'
host        = 'localhost'
port        = "3306"
database    = 'world'
table       = 'tab_clientes2'


engine  = create_engine(f"{engine}+{conect}://{user}:{password}@{host}:{port}/{database}")
conn    = engine.connect()

connection = mysql.connector.connect(user=user,password=password,host=host,port=port,database=database)

print("Connection ok!")

Connection ok!

In [7]:
########################################### INSERT DATA INTO MYSQL ############################
records = df.values.tolist()

mySql_insert_query = f"""INSERT INTO {table} (prefix, name, suffix, phone,email,address)
                           VALUES (%s, %s, %s, %s, %s, %s) """


cursor = connection.cursor()
cursor.executemany(mySql_insert_query, records) #execute rows ingestion
connection.commit()

print(cursor.rowcount, f"Record inserted successfully into {table} table")

10 Record inserted successfully into tab_clientes2 table

In [9]:
sql = f" SELECT * FROM {table} WHERE NAME IS NOT NULL "

df_time_series = pd.read_sql(sql, connection)
df_time_series.head()

,prefix,name,suffix,phone,email,address
0,Sr.,Pedro Lucas Ribeiro,,+55 71 9833-4230,xsales@uol.com.br,"Viaduto Catarina da Mata, 819\nNovo Glória\n18..."
1,Sr.,Heloísa Moraes,,21 7986-0081,ynunes@ig.com.br,"Via de Araújo, 9\nEstrela Do Oriente\n32198-40..."
2,Srta.,Evelyn Melo,,0800-389-2530,piresemanuelly@uol.com.br,"Pátio de Lopes, 87\nVila Antena\n10596362 Nune..."
3,Srta.,Antônio Pereira,,+55 81 8953 7802,thiagogomes@ig.com.br,"Parque Oliveira, 56\nSion\n00216-203 Souza / RR"
4,Sr.,Laura Moreira,,+55 51 7810 5295,kmendes@ig.com.br,Residencial Ana Beatriz Pires\nÁpia\n24916-184...

In [10]:
cursor.close()
connection.close()
print("End of task,MySQL connection is closed!")

End of task,MySQL connection is closed!